$color-bg:        rgba(236, 236, 236, 1.0); // White Smoke
$color-fg:        #333;                     // Black
$color-viz-bg:    rgba(210, 215, 211, 1.0); // Pumice
$color-viz-base:  rgba(191, 191, 191, 1.0); // Silver
$color-viz-line:  rgba(242, 241, 239, 1.0); // Carrara
$color-viz-focus: rgba(108, 122, 137, 1.0); // Lynch


body {
  padding: 0;
  background: $color-viz-bg;
}
#app {
  background: $color-viz-bg;
}
#navbar, #details {
  // background: $color-bg;
}
#navbar {
  min-height: 6rem;
  width: 100%;
  padding: 1.5rem 0 2rem;
  // border-top: 1px solid $color-viz-focus;
  overflow: hidden;
  transition: transform 500ms ease-out;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  .brand {
    margin-bottom: -0.25rem;
    font: 400 1.5em/4rem 'Montserrat','Proxima Nova',Arial,sans-serif;
    letter-spacing: -0.03em;
  }
  h1 {
    margin: 1rem 0 0;
    padding-left: 40px - 1px;
    padding-right: 40px;
    background: url(../images/icon.png) no-repeat left;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
      background-image: url(../images/icon@2x.png);
      background-size: 48px 48px;
    }
  }
  p {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 300;
    color: lighten($color-fg, 15);
  }
}

#chart {
  overflow: hidden;
  & > svg {
    max-width: 100%;
  }
}

#map {
  // position: fixed;
  top: 0;
  width: 100%;
  font-size: 0;
  line-height: 100%;
  background: $color-viz-bg;
  z-index: 1;
  .background {
    background: $color-viz-bg;
    color: $color-viz-bg;
  }
  & > svg {
    width: 100%;
    // height: 100%;
    line-height: 100%;
  }
}
.administrative, .administrative-selected, .zone {
  fill: $color-viz-focus;
  stroke: $color-viz-line;
  stroke-width: 1px;
  opacity: 0;
  transition: opacity 5ms ease-in, color 15ms ease-in-out;
}
.county {
  opacity: 0;
}
.graticule {
  fill: none;
  stroke: darken($color-viz-bg, 5);
  stroke-width: 1px;
  stroke-opacity: 0.5;
}

// Zones and States
#zones {
  stroke-width: 0.5px;
  path               { opacity: 1.00; }
}
.severity0 { fill: #FFFF00; }
.severity1 { fill: #FCD37F; }
.severity2 { fill: #FFAA00; }
.severity3 { fill: #E60000; }
.severity4 { fill: #730000; }
.zone                         { opacity: 0.75; }
.zone:hover                   { opacity: 1.00; }
.administrative               { opacity: 0.10; }
.administrative-selected      { opacity: 0.60; }
.administrative:hover         { opacity: 0.85; }

// Chart
.c3-axis-y > path,
.c3-axis-y line {
  visibility: hidden;
}
@media (min-width: $screen-md-min) {
  body {
    border: 15px solid $color-bg;
    background: $color-bg;
  }
}