<div class="containger-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="map" drought-map></div>
    </div>
  </div>
</div>

<div id="drawer">
  <div id="navbar">
    <h1 class="brand">Drought.io</h1>
    <p><strong>As of November 18, 2014, drought is impacting 70.5 million people in the US.</strong> Click on a location to learn more. Visualization by <a href="https://github.com/theopak/drought.io/">Theo Pak &amp; Altan Gulen</a>. Drop designed by <a href="http://thenounproject.com/term/drop/48086/">Julien Deveaux</a> from the Noun Project.</p>
  </div>
  <div class="container" id="chart">
     <div class="row">
      <div class="col-sm-12">
        <h4>{{year}} Cumulative Annual Precipitation for {{zip}}</h4>
        <select ng-options="renderer for renderer in renderers" 
                ng-model="renderer">
        </select>
        <rain-chart
          width="700"
          height="240"
          series="rainfallSeriesCollection">
        </rain-chart>
        <button class="btn btn-primary" ng-click="changeSeriesData(0)">Change series data</button>
      </div>
    </div>
  </div>
</div>
